body{
    text-align: center;
    background-color: rgb(134, 129, 129);
}

.btn{
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border-color: black;
    border: 10px solid;
    margin: 20px 20px 20px 20px;
    
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.white{
    background-color: white;
}